h1{
    text-align: center;
    margin: 10px;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInput{
    width: 35%;
    margin: 08px;
    padding: 10px;
    border: 1px solid brown;
    border-radius: 5px;
}
.btn{
    font-size: 18px;
    border: 2px solid brown;
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
    border-radius: 5px;
    background:rgb(182, 147, 147);
}
#foot{
    position: fixed;
    bottom: 0px;
    width: 100%;
}