@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navbar{
    padding: 10px ;
    background-color:#995353;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    
    align-items: center;
}
#logo{
    display: flex;
    color: white;
    margin: 0px 10px;
    align-items: center;
    margin-right: 200px;
}
#logo img {
    height: 50px;
    filter: invert(1);
}

#navbar li{
list-style: none;
}
#navbar li a{
    color: white;
    text-decoration: none;
    padding: 7px 10px ;
    font-family: 'Original Surfer', cursive;
    padding: 40px;
}

#navbar li a:hover{
    color: rgb(176, 175, 224);
    text-decoration: none;
    padding: 7px 10px ;
    font-family: 'Original Surfer', cursive;
    padding: 40px;
}
#introSection{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    height: 300px;
    z-index: -1;
    opacity: 0.8;
    background: center / cover no-repeat url("../static/bgh.png");
}

#missionSection{
    text-align: center;
    font-family: 'Lobster', cursive;
    height: 277px;
    align-items: center;
    padding: 10px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 23%;
    height: 181px;
    background-color: cadetblue;

}
}
.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img img{
    padding: 5px;
    height: 100px;
   
}
.card p{
    font-size: 14px;
    font-family: cursive;
    font-weight: lighter;
}
#sponsorSection{
    height: 300px;


    text-align: center;
    font-family: 'Lobster', cursive;

    align-items: center;
    padding: 20px;
    background-color:#dfbebe;
}
#sponsorSection h2{
  font-size: 2rem;
}
.sponsors img{
    height: 208px;
    width: 22%;
    margin: 10px auto;
    padding: 34px;
}
#foot{
    display: flex;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-bottom: 0px;
    width: 100%;
    bottom: 0px;
    position: relative;
}